* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: #27262d;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    font-weight: 800;
}

h5 {
    font-size: 16px;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0;
    padding: 20px 40px;
}

#result {
    column-count: 8;
    column-width: 200px;
}

.countryVote {
    margin: 1px 0;
}

.choice {
    height: 16px;
    width: 16px;
}

.country {
    padding: 0;
}

/* List of Vote Count */
.voteCategory {
    position: absolute;
    bottom: 20px;
    margin: 0;
    width: 90%;
    justify-content: center;
}

.voteName{
    height: 40px;
    margin-right: 40px;
    padding: 0;
}

.voteIcon {
    height: 40px;
}

.voteDesc {
    height: 40px;
    padding: 5px 50px;
    border-radius: 6px;
    align-items: center;
    font-weight: bold;
}

#yesDesc {
    background-color: #00ff45;    
}

#noDesc {
    background-color: #ff004a;
}

#absDesc {
    color: black;
    background-color: #e3fb1c;
}